*{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.base{
    height: 25rem;   
    width: 40rem;
    border: 2px solid black;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 30rem;
}

form h3{
    color: white;
    position: relative;
    top: -34px;
    font-family: monospace;
    font-size: 45px;
}

form p{
    color: white;
    font-family: monospace;
    margin: 10px;
}

input{
    padding: 16px 22px;
    width: 50%;
    margin: 3px;
    border: 1px solid grey;
    border-radius: 4px;
}

button{
    background-color: rgb(40, 31, 56);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: 0.5px solid black;
    border-radius: 4px;
}